In [79]:
import pandas as pd
import numpy as np
import itertools

In [80]:
min_support = int(input("Please Enter Minimum Support Count in %: "))
min_confidence = int(input("Please Enter Minimum Confidence in %: "))

Please Enter Minimum Support Count in %: 30
Please Enter Minimum Confidence in %: 50

In [81]:
menu = {}
menu["1"] = "Amazon"
menu["2"] = "Best Buy"
menu["3"] = "Nike"
menu["4"] = "K-mart"
menu["5"] = "Custom"
 
options=menu.keys()
while True:  
    for entry in options: 
        print(entry, menu[entry])
    selected_option=input("What Database you want select?[1-5] ") 
    if selected_option=="1": 
        dataset="amazon.csv" 
        transactions="amazon_transactions.csv"
        print("Amazon's Dataset is selected.")
        break
    elif selected_option=="2":
        dataset="best_buy.csv" 
        transactions="best_buy_transactions.csv"
        print("Best Buy's Dataset is selected.")
        break
    elif selected_option=="3":
        dataset="nike.csv" 
        transactions="nike_transactions.csv"
        print("Nike's Dataset is selected.")
        break
    elif selected_option=="4":
        dataset="kmart.csv" 
        transactions="kmart_transactions.csv"
        print("K-mart's Dataset is selected.")
        break
    elif selected_option=="5":
        dataset="custom_database.csv" 
        transactions="custom_transactions.csv"
        print("Custom Dataset is selected.")
        break
    
    elif selected_option !="":
      selected_option = input("\n Not Valid Choice Try again")

1 Amazon
2 Best Buy
3 Nike
4 K-mart
5 Custom
What Database you want select?[1-5] 5
Custom Dataset is selected.

In [82]:
data_items = pd.read_csv(dataset,names=["item#", "items"]) #source:https://www.w3schools.com/python/pandas/pandas_csv.asp
transaction_items = pd.read_csv(transactions,names=["Transaction ID","Transaction"])
transaction_items.head(20)

   Transaction ID                       Transaction
0          Trans1            ink,  pen, cheese, bag
1          Trans2          milk, pen, juice, cheese
2          Trans3          milk, juice, cookie, egg
3          Trans4        juice, milk, cheese, bread
4          Trans5             ink, pen, cheese, bag
5          Trans6          milk, pen, juice, cheese
6          Trans7                notebook, bag, ink
7          Trans8          milk, pen, notebook, ink
8          Trans9  cheese, milk, cookie, pen, bread
9         Trams10                pen, notebook, bag
10        Trans11              juice, ink, pen, egg
11        Trans12       milk, cookie, cheese, juice
12        Trans13        cheese, bag, pen, notebook
13        Trans14                 milk, cookie, egg
14        Trans15         pen, notebook, ink, juice
15        Trans16       milk, pen, cookie, notebook
16        Trans17               cheese, cookie, pen
17        Trans18                notebook, pen, ink
18        Trans19      milk, cookie, juice,  cheeze
19        Trans20      juice, cheese, notebook, pen

In [83]:
records = []
for  trans in transaction_items["Transaction"]:
    transactions =  trans.split(", ")
    records.append(transactions)
print(records)

[['ink', ' pen', 'cheese', 'bag'], ['milk', 'pen', 'juice', 'cheese'], ['milk', 'juice', 'cookie', 'egg'], ['juice', 'milk', 'cheese', 'bread'], ['ink', 'pen', 'cheese', 'bag'], ['milk', 'pen', 'juice', 'cheese'], ['notebook', 'bag', 'ink'], ['milk', 'pen', 'notebook', 'ink'], ['cheese', 'milk', 'cookie', 'pen', 'bread'], ['pen', 'notebook', 'bag'], ['juice', 'ink', 'pen', 'egg'], ['milk', 'cookie', 'cheese', 'juice'], ['cheese', 'bag', 'pen', 'notebook'], ['milk', 'cookie', 'egg'], ['pen', 'notebook', 'ink', 'juice'], ['milk', 'pen', 'cookie', 'notebook'], ['cheese', 'cookie', 'pen'], ['notebook', 'pen', 'ink'], ['milk', 'cookie', 'juice', ' cheeze'], ['juice', 'cheese', 'notebook', 'pen']]

In [84]:
def stage_1(transaction_items,min_support_count,records,data_items):
    C1 ={}
    for item in data_items["items"]:
        count=0
        for trans_item in records:
            if item in trans_item:
                count+=1
            support = (count/20)*100
            C1[item]=round(support,3)
    L1 = {}
    for key,val in C1.items():
        if val  > min_support:
            L1[key]=val
    return C1, L1

In [85]:
C1,L1 = stage_1(transaction_items,min_support,records,data_items)
print(C1,"\n\n")
print(L1)

{'ink': 35.0, 'pen': 65.0, 'cheese': 50.0, 'bag': 25.0, 'juice': 45.0, 'milk': 50.0, 'cookie': 35.0, 'notebook': 40.0, 'egg': 15.0, 'bread': 10.0}


{'ink': 35.0, 'pen': 65.0, 'cheese': 50.0, 'juice': 45.0, 'milk': 50.0, 'cookie': 35.0, 'notebook': 40.0}

In [86]:
def check_subset_frequency(itemset,L,num):
    if num>1:
        subset = list(itertools.combinations(itemset,num))
    else:
        subset = itemset
    for i in subset:
        if not i in L:
            return False
    return True
def stage_2(L1,records,min_support):
    L1 = sorted(list(L1.keys()))
    List_1 = list(itertools.combinations(L1, 2)) #source: https://stackoverflow.com/questions/464864/how-to-get-all-possible-combinations-of-a-list-s-elements
    
    C2={}
    L2={}
    for i in List_1:
        count = 0
        for j in records:
            if i[0] in j and i[1] in j:
                count+=1
            support = (count/20)*100
        C2[i] = round(support,3)
        for key, val in C2.items():
            if val >= min_support:
                if check_subset_frequency(key, L1, 1):
                    L2[key] = val
    
    return C2,L2
C2, L2 = stage_2(L1, records, min_support)


print(C2,"\n\n")
print(L2)

{('cheese', 'cookie'): 15.0, ('cheese', 'ink'): 10.0, ('cheese', 'juice'): 25.0, ('cheese', 'milk'): 25.0, ('cheese', 'notebook'): 10.0, ('cheese', 'pen'): 35.0, ('cookie', 'ink'): 0.0, ('cookie', 'juice'): 15.0, ('cookie', 'milk'): 30.0, ('cookie', 'notebook'): 5.0, ('cookie', 'pen'): 15.0, ('ink', 'juice'): 10.0, ('ink', 'milk'): 5.0, ('ink', 'notebook'): 20.0, ('ink', 'pen'): 25.0, ('juice', 'milk'): 30.0, ('juice', 'notebook'): 10.0, ('juice', 'pen'): 25.0, ('milk', 'notebook'): 10.0, ('milk', 'pen'): 25.0, ('notebook', 'pen'): 35.0}


{('cheese', 'pen'): 35.0, ('cookie', 'milk'): 30.0, ('juice', 'milk'): 30.0, ('notebook', 'pen'): 35.0}

In [87]:
def stage_3(L2, records, min_support):
    L2 = list(L2.keys())
    List_2 = sorted(list(set([item for t in L2 for item in t])))
    List_2 = list(itertools.combinations(List_2, 3))
    
    C3 = {}
    L3 = {}
    
    for iter1 in List_2:
        count = 0
        
        
        for iter2 in records:
            if iter1[0] in iter2 and iter1[1] in iter2 and iter1[2] in iter2:
                count+=1
            support = (count/20)*100
        C3[iter1] = round(support,3) 
        
   
    for key, value in C3.items():
        if value >= min_support:
            if check_subset_frequency(key, L2, 2):
                L3[key] = value 
    
    return C3, L3
C3, L3 = stage_3(L2, records, min_support)
#print(C3,"\n\n")
print(L3)

{}

In [88]:
def stage_4(L3, records, min_support):
    L3 = list(L3.keys())
    List_3 = sorted(list(set([item for t in L3 for item in t])))
    L3 = list(itertools.combinations(L3, 4))
    C4 = {}
    L4 = {}
    for iter1 in List_3:
        count = 0
        for iter2 in records:
            if iter1[0] in iter2 and iter1[1] in iter2 and iter1[2] in iter2 and iter1[3] in iter2:
                count+=1
        C4[iter1] = count
    for key, val in C4.items():
        if val >= min_support:
            if check_subset_frequency(key, L3, 3):
                L4[key] = val 
        
    return C4, L4
C4, L4 = stage_4(L3, records, min_support)
print(C4,"\n\n")
print(L4)

{}


{}

In [89]:
sets3 = []
for iter1 in list(L3.keys()):
    subsets = list(itertools.combinations(iter1, 2))
    sets.append(subsets)

[[('cheese', 'pen')], [('cookie', 'milk')], [('juice', 'milk')], [('notebook', 'pen')]]

In [91]:
itemlist = {**L1,**L2,**L3,**L4}
def support_count(itemset, itemlist):
    return itemlist[itemset]


list_l3 = list(L3.keys())
for i in range(0, len(list_l3)):
    for iter1 in sets[i]:
        a = iter1
        b = set(list_l3[i]) - set(iter1)
        confidence = (support_count(list_l3[i], itemlist)/support_count(iter1, itemlist))*100
        if(confidence>=min_confidence):
            print("Confidence{}->{} = ".format(a,b), confidence, "\n")

Confidence('cheese', 'pen')->set() =  100.0

Confidence('cookie', 'milk')->set() =  100.0

Confidence('juice', 'milk')->set() =  100.0

Confidence('notebook', 'pen')->set() =  100.0

In [ ]:
def stage_4(l3, records, minimum_support_count):
    l3 = list(l3.keys())
    L3 = sorted(list(set([item for t in l3 for item in t])))
    L3 = list(itertools.combinations(L3, 4))
    c4 = {}
    l4 = {}
    for iter1 in L3:
        count = 0
        for iter2 in records:
            if sublist(iter1, iter2):
                count+=1
        c4[iter1] = count
    for key, value in c4.items():
        if value >= minimum_support_count:
            if check_subset_frequency(key, l3, 3):
                l4[key] = value 
        
    return c4, l4